Mike's age:<%=  @age %>

<ul>
<% @events.each do |event| %>
    <section class="event">
        <div class="summary">


    <strong><%= link_to event.name, event_path(event) %></strong>
    in <%= event.location %>:
    <%= price(event) %>
    <p><%= event.description %></p>
    <p>Starts at: <%= day_and_time(event) %></p>

<% end %>

<section class="admin">
    <%= link_to "Add New Event", new_event_path, class: "button" %>
</section>
