<section class="event">
        <div class="summary">


    <strong><%= @event.name %></strong>
    in <%= @event.location %>:
    <%= price(@event) %>
    <p><%= @event.description %></p>
    <p>Starts at: <%= day_and_time(@event) %></p>
</div>
</section>


<section class="admin">
    <%= link_to "Edit", edit_event_path(@event), class: "button" %>
</section>
