<section class="event">
    <div class="image">
        <%= image_tag @event.image_file_name %>
    </div>
    <div class="summary">


    <strong><%= @event.name %></strong>
    in <%= @event.location %>:
    <%= pluralize(@event.capacity, "spot") %> &bull; <%= price(@event) %>
    <p><%= @event.description %></p>
    <p>Starts at: <%= day_and_time(@event) %></p>
</div>
</section>


<section class="admin">
    <%= link_to "Edit", edit_event_path(@event), class: "button" %>
    <%= button_to "Delete", @event, class: "button", method: :delete %>
</section>
